* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html,
body {
    background: linear-gradient(to bottom, #0573cd, #010158 );
    color: rgb(248, 247, 246);
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

main {
    width: 40%;
    padding: 1rem;
}

@media screen and (max-width: 1220px) {
    main {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    main {
        width: 100%;
    }
}

.container{
    width: 100%;
    max-width: 400px;
    background-color: rgba(21, 19, 57, 0.805);
    border-radius: 8px;
    box-shadow: 0 10px 15px -3px rgba(39, 54, 130, 0.578), 0 4px 6px -2px rgba(23, 63, 197, 0.742);
    overflow: hidden;
    padding: 10px;
}

.nav-bar {
    width: 100%;
    height: 12vh;
    margin-bottom: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-bar h1 {
    font-size: 1.4rem;
}

.nav-bar img {
    width: 100px;
    border-radius: 40%;
    object-fit: contain;

}

.sobre {
    display: flex;
    flex-direction: column;
}

.sobre h2 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    margin: 2rem 0 1rem 0;
}

.container-links {
    width: 100%;
}


.container-links .link-btn {
    background-color: rgba(151, 132, 208, 0.218);
    color: rgb(214, 213, 224);
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 1rem;
    padding: 0.8rem;
    border-radius: 8px;

    transition: 0.5s;
}

.link-btn:hover {
    background-color: rgba(100, 81, 184, 0.433);
}

.link-btn img {
    width: 60px;
    height: 60px;
}