.nav-bar {
    background-color: blue;
    width: 100%;
    height: 20vh;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-bar img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50px;
}

.perfil{
    background-color: aquamarine;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.perfil img{
    width: 10%;
    margin-bottom: 20px;
    border: 3px;
    border-radius: 50%;

}
.container-contatos{
    background-color: beige;
    width: 100%;
    height: 28vh;
    padding: 2%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contatos{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contato-box{
    width: 110px;
    height: 60px;
    margin: 10px;
    border-radius: 20px;

    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contato-box img{
width: 100%;
}
footer{
    background-color: cadetblue;

    width: 100%;
    height: 4vh;
    display: flex;
}

@media screen and (max-width: 768px)

.perfil img{
    width: 30%;
}

